/* ********** GLOBAL STYLING ********** */


/* Add the off-wite bg color to body */

body,
html {
    background-color: #f5f3eb;
    margin: 0px 0px;
    height: 100%;
}

button {
    font-weight: 300;
}

a:hover {
    color: #cd3d00;
}


/* ********* NAVIGATION BAR ********** */


/* Style the logo */

.navigation {
    width: 100%;
}

.logos {
    width: 20%;
}

.nav-logo {
    padding: 7px 14px 0px 14px;
    position: relative;
    height: 30px;
}


/* Style the links */

#links-container {
    float: right;
}

.navigation-link {
    display: inline-block;
    padding: 7px 14px 7px 14px;
    color: #333333;
    text-decoration: none;
    font-size: 17px;
    font-variant: small-caps;
}


/* ********** END Navbar ********** */


/* ********** HERO CONTENT ********** */


/* The Hero Image */

#hero-content {
    background-image: url("../images/lighthouse2.png");
    opacity: 60%;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Place the HERO TEXT in middle of image */

.hero-text {
    text-align: center;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f3eb;
    font-size: 40px;
}

.einstein {
    float: right;
    font-size: 35px;
}


/* ********** BIOGRAPHY SECTION ********** */

.selfie {
    float: right;
    padding: 0 1em 0 1em;
}

.biography {
    overflow: hidden;
    padding: 50px 0 50px 0;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.skillz {
    font-style: italic;
}


/* ********** SKILLS & TOOLS ********** */

.skill-table {
    clear: both;
    height: 0 px;
    overflow: hidden;
    background-color: #cd3d00;
}

.skills-group {
    color: #f5f3eb;
    width: 60%;
    padding: 50px 0 50px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.skills {
    float: left;
    width: 48%;
    margin-left: 0;
}

.tools {
    float: left;
    width: 48%;
    margin-left: 4%;
}

.language {
    display: inline-block;
}

.cv-button {
    text-align: center;
    margin-bottom: 50px;
}

.cv-btn {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f5f3eb;
    line-height: 1em;
    border: #f5f3eb;
    border-style: solid;
    border-width: 2px;
    margin: 25px;
}

.cv-btn:hover {
    background-color: #f5f3eb;
    border: none;
    color: #cd3e00;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}


/* ********** FAVORITES SECTION ********** */

.favorites-img {
    background-image: url("../images/favorite-things.jpg");
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.favorites-img:hover > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .75;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.overlay {
    opacity: 0;
    transition: all 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f3eb;
}

.except {
    font-weight: 100;
    font-style: italic;
}


/* ********** CONTACT SECTION ********** */

.msg {
    padding-top: 50px;
    text-align: center;
    color: #f5f3eb;
}

.contact-txt {
    text-align: center;
    width: 100%;
    color: #f5f3eb;
    font-size: 18px;
}

#name {
    width: 44%;
}

input {
    margin: 10px auto;
}

#email {
    width: 44%;
    float: right;
}

.form textarea {
    display: inline-block;
    width: 100%;
}

.right {
    text-align: center;
}

.form button {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #f5f3eb;
    line-height: 1em;
    border: #cd3d00;
    border-style: solid;
    border-width: 2px;
}

.contact-btn:hover {
    background-color: #cd3d00;
    border: none;
    color: #f5f3eb;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.skyline-img {
    background-color: #002e66;
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../images/Skyline-1280x500.png)
}

#skyline {
    width: 100%;
    bottom: 0;
    position: absolute;
}


/* ********** FOOTER CONTENT ********** */

.footer {
    position: relative;
}

#copyright {
    position: absolute;
    left: 0;
    padding-top: 7px;
    padding-left: 20px;
}

#social-lnks {
    color: #333333;
    text-align: center;
}

.social-media {
    padding: 0 20px 0 20px;
}

#linkedIn {
    width: 30px;
}

#gitHub {
    width: 30px;
}

#dribl {
    width: 30px;
}

#twitr {
    width: 30px;
}

.footer-logo-main {
    position: absolute;
    right: 0;
    bottom: 7px;
    padding-right: 20px;
    width: 175px;
}


/* ********** MEDIA QUERIES ********** */

@media screen and (min-width: 1025px) {
    /* NAVBAR CHANGES */
    .second-logo {
        display: none;
    }
    /* CONTACT SECTION */
    .condensed2 {
        display: none;
    }
}


/* Media Query to hide the 2nd copyright in the footer. */

@media screen and (min-width: 941px) {
    #selfie-center {
        display: none;
    }
    #copyright2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    /* NAVBAR CHANGES */
    .main-logo {
        display: none;
    }
    /* SKILLS SECTION */
    #languages {
        display: inline;
    }
    .cv-btn {
        font-family: Raleway, Arial, Helvetica, sans-serif;
        font-size: 14px;
        bottom: 0;
        color: #cd3d00;
        line-height: 1em;
        background-color: #f5f3eb;
    }
    /* FAVORITES */
    .favorites-wrapper {
        display: none;
    }
    /* FORM */
    .form {
        width: 100%;
    }
    #name {
        width: 100%;
    }
    #email {
        width: 100%;
        margin: 0;
    }
    .form textarea {
        display: inline-block;
        margin-top: 15px;
        width: 100%;
    }
    .form button {
        font-family: Raleway, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 200;
        color: #f5f3eb;
        line-height: 1em;
        background-color: #cd3d00;
        border-style: solid;
        border-width: 0px;
    }
    .condensed {
        display: none;
    }
    /* FOOTER SECTION */
    .copyright {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-logo {
        position: absolute;
        right: 0;
        bottom: 7px;
        padding-right: 20px;
        width: 30px;
    }
}

@media screen and (max-width: 940px) {
    .selfie {
        display: none;
    }
    #copyright {
        display: none;
    }
    #copyright2 {
        position: relative;
        text-align: center;
        margin: 0;
        padding-bottom: 10px;
    }
    .footer-logo {
        display: none;
    }
    .selfie-center {
        width: 60%;
        padding-bottom: 30px;
    }
}


/*@media screen and (max-width: 940px) {}*/