/* ********** GLOBAL STYLING ********** */


/* Add the off-wite bg color to body */

body,
html {
    background-color: #f5f3eb;
    margin: 0px 0px;
    height: 100%;
}

button {
    font-weight: 300;
}


/* ********* NAVIGATION BAR ********** */


/* Style the logo */

.nav-logo {
    padding: 7px 14px 0px 14px;
}


/* Style the links */

.links-container,
.navigation-link {
    float: right;
    display: block;
    color: #333333;
    text-align: center;
    padding: 4px 14px 0px 14px;
    text-decoration: none;
    font-size: 17px;
    font-variant: small-caps;
}


/* Change the color of links on hover */

.links-container a:hover {
    color: #cd3d00;
}

.nav-logo {
    width: 175px;
    height: 30px;
}

a {
    text-decoration: none;
}


/* ********** HERO CONTENT ********** */


/* The Hero Image */

#hero-content {
    background-image: url("../images/moien-hero.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-content-ap {
    background-image: url("../images/apantry-dark.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-title {
    font-size: 100px;
    color: #f5f3eb;
}


/* Place the HERO TEXT in middle of image */

.hero-text {
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00A1DE;
}

.hero-btn {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 20px;
    font-size: 14px;
    color: #f5f3eb;
    line-height: 1em;
    border: #ED2939;
    border-style: solid;
    border-width: 2px;
}

.hero-btn:hover {
    background-color: #ED2939;
    border: none;
    color: #f5f3eb;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.prototype-btn {
    padding-top: 20px;
    padding-right: 28px;
}


/* ********** Moien - Description ********** */

.picnic-dsc {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 100px 0 100px 0;
}

.picnic-dsc-ap {
    color: #333333;
    padding: 100px 0 100px 0;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
}

.footnote {
    font-size: 12px;
    font-weight: 100;
}

.picnic-content {
    background-image: url("../images/moien-picnic.png");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.picnic-content-ap {
    background-image: url("../images/laptop-ap.png");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* THE PROBLEM */

.problem-title {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

.problem {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.problem-ap {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}


/* ONBOARD */

.moien-onboard {
    background-image: url("../images/moien-onboard.jpg");
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.desktop-ap {
    background-image: url("../images/desktop-ap.png");
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* THE SOLUTION */

.solution-title {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

.solution {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.solution-ap {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0
}


/* USER RESEARCH */

.research-container {
    background-color: #dcdad3;
}

.research-title {
    font-weight: 200;
}

.research {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.graph {
    width: 100%;
}

.graph-img {
    text-align: center;
    padding: 100px 0 100px 0;
}


/* KNOW YOUR USER */

.user-container {
    background-color: #dcdad3;
}

.user {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.user-ap {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.user-title {
    font-weight: 200;
}


/* Personas */

.personas-container {
    height: 800px;
}

.personas-img {
    text-align: center;
    padding-top: 95px;
}


/* KNOW YOUR COMPETITOR */

.competitor-container {
    background-color: #dcdad3;
}

.competitor {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.competitor-title {
    font-weight: 200;
}

.competitor-container2 {
    height: 500px;
}

.competitor-container2-ap {
    height: 675px;
}

.competitor-img {
    text-align: center;
    padding-top: 100px;
}


/* INFORMATION ARCHITECTURE */

.info-arch {
    width: 100%;
    padding: 100px 0 100px 0;
}

.info-title {
    font-weight: 200;
}

.info {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
}

.info-container {
    background-color: #dcdad3;
    width: 100%;
}

.information-ap {
    background-color: #dcdad3;
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.information-section-ap {
    padding: 100px 0 100px 0;
    text-align: center;
    width: 80%;
}

.info-imgs {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0 50px 0;
}

.userflow-img {
    text-align: center;
    padding: 50px 0 100px 0;
}

.information-img {
    padding: 25px;
    float: left;
}

.information-img-ap {
    float: left;
    padding: 25px;
}


/* BALSAMIQ MOCKUPS */

.mockups-img {
    text-align: center;
    margin: 100px 0 100px 0;
}


/* VISUAL DESIGN */

.design-container {
    background-color: #dcdad3;
}

.design {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.design-title {
    font-weight: 200;
}

.design-desc {
    font-size: 24px;
}


/* SKETCHES */

.sketches-container {
    width: 100%;
    text-align: center;
}

.sketch-imgs {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 100px 0 100px 0;
}

.sketch-img1 {
    padding: 25px 25px 25px 80px;
    float: left;
}

.sketch-img2 {
    padding: 25px;
    float: left;
}

.sketch-img3 {
    padding: 25px;
}


/* VISUAL DESIGN */

.design-container2 {
    background-color: #dcdad3;
}

.design2 {
    color: #333333;
    font-size: 18px;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 60px;
    height: 300px;
}


/* VISUAL DESIGN PT3 */

.mindmap-img {
    text-align: center;
    padding-top: 100px;
}

.styleguide-img {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}


/* PROTOTYPE */

.prototype-container {
    background-color: #dcdad3;
}

.prototype {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.prototype-title {
    font-weight: 200;
}

.prototype-desc {
    font-size: 24px;
}


/* MOIEN */

.apantry-img {
    background-image: url("../images/Apantry-1280x500.png");
    margin: 0 auto;
    padding: 0;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.apantry-img:hover > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .75;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.content {
    padding-top: 2%;
}

.overlay {
    opacity: 0;
    transition: all 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.project-title {
    float: left;
    padding: 7px 14px 7px 14px;
    color: #f5f3eb;
}

.project-type {
    float: right;
    padding: 25px 14px 7px 14px;
    color: #f5f3eb;
}

.description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f3eb;
}

.case-study-btn {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f5f3eb;
    line-height: 1em;
    border: #cd3d00;
    border-style: solid;
    border-width: 2px;
}

.case-study-btn:hover {
    background-color: #cd3d00;
    border: none;
    color: #f5f3eb;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}


/* THE CONCLUSION */

.conclusion-container {
    background-color: #dcdad3;
}

.conclusion {
    color: #333333;
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.conclusion-title {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}


/* ********** CONTACT SECTION ********** */

.skyline-img {
    background-image: url("../images/Skyline-1280x500.png");
    height: 500px;
    width: 100%;
    position: relative;
}

.contact-container {
    padding-top: 100px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.contact-txt {
    text-align: center;
    width: 100%;
    color: #f5f3eb;
    font-size: 24px;
}

.contact-btns {}

.contact-btn {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #f5f3eb;
    line-height: 1em;
    border: #cd3d00;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
}

.contact-btn:hover {
    background-color: #cd3d00;
    border: none;
    color: #f5f3eb;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}


/* ********** FOOTER CONTENT ********** */

.copyright {
    float: left;
    padding: 7px 14px 0px 14px;
}

.social-media {
    color: #333333;
    padding: 0px 20px 0 20px;
}

.footer-logo {
    float: right;
    padding: 7px 14px 0px 14px;
}